body {
   box-sizing: border-box;
   margin: 0;
}

.ancient-container {
   display: flex;
   gap: 20px;
}

.ancient-card {
   width: 200px;
   height: 260px;
   background-repeat: no-repeat;
   background-size: contain;
   cursor: pointer;
}

.azathoth {
   background-image: url(./assets/Ancients/Azathoth.png);
}

.cthulhu {
   background-image: url(./assets/Ancients/Cthulthu.png);
}

.iogSothoth {
   background-image: url(./assets/Ancients/IogSothoth.png);
}

.shubNiggurath {
   background-image: url(./assets/Ancients/ShubNiggurath.png);
}


.deck-container {
   display: flex;
   align-items: center;
   gap: 20px;
}

.deck,
.last-card {
   background-size: cover;
   width: 130px;
   height: 190px;
}

.deck {
   background-image: url(./assets/mythicCardBackground.png);
}

.last-card {
   background-color: antiquewhite;
}

.difficulty-container {
   display: flex;
   gap: 20px;
}

.difficulty,
.shuffle-button {
   display: flex;
   text-align: center;
   justify-content: center;
   width: 200px;
   padding: 10px;
   border: 2px solid rgb(81, 86, 236);
   border-radius: 50%;
}

.stage-container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   justify-content: center;
   margin: 15px;
   font-size: 20px;
}

.dots-container {
   display: flex;
   gap: 10px;
}

.dot {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.green {
   background-color: rgb(57, 171, 57);
}

.brown {
   background-color: rgb(132, 98, 55);
}

.blue {
   background-color: rgb(32, 117, 234);
}

.stage-text {
   color: brown;
}